fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
langchain==0.2.5
langchain-groq==0.1.6
langchain-huggingface==0.0.3
langchain-community==0.2.5
langchain-chroma==0.1.2
chromadb==0.4.24
pypdf==4.2.0
pydantic==2.7.4
python-multipart==0.0.9
aiofiles==23.2.1
tiktoken==0.7.0
sentence-transformers>=2.2.0
rank-bm25==0.2.2
httpx==0.28.1
